<h1>MON PROFIL <%= userRole %></h1>
<div class="infosContent">
    <div class="avatarContent"></div>
    <div>
        <span>Nom d'utilisateur</span>
        <span><%= user.username %></span>
    </div>
    <div>
        <span>Rôle</span>
        <span><%= userRole %></span>
    </div>
    <div>
        <span>Nom de famille</span>
        <span><%= user.last %></span>
    </div>
    <div>
        <span>Prénom</span>
        <span><%= user.first %></span>
    </div>
    <div>
        <span>Age</span>
        <span><%= age %></span>
    </div>
    <div>
        <span>Adresse</span>
        <span>
            <%= user.address.number %>
            <%= user.address.street %>
            <%= user.address.zip %>
            <%= user.address.city %>
            <%= user.address.country %>
        </span>
    </div>
    <div>
        <span>Bio</span>
        <span><%= user.bio %></span>
    </div>
    <div>
        <span>E-mail</span>
        <span><%= user.email %></span>
    </div>
    <div>
        <span>Mot de passe</span>
        <span><%= user.password %></span>
    </div>
</div>