<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<h1>Mes annonces</h1>
<% if (annonces.length === 0) { %>
    <p>Vous n'avez pas encore d'annonce</p>
<% } else { %>
    <ul>
        <% annonces.forEach(annonce => { %>
            <li>
                <h2><%= annonce.title %></h2>
                <p><%= annonce.description %></p>
                <p><%= annonce.price %>€</p>
                <p><%= annonce.musicStyle %></p>
                <% annonce.images.forEach(image => { %>
                    <img src="../../../uploads/<%= image.imageUrl %>" alt="<%= image.name %>" width="200">
                <% }); %>                
                <a href="/edit-annonce/<%= annonce._id %>">Modifier</a>
                <form action="/delete-annonce/<%= annonce._id %>" method="post">
                    <button>Supprimer</button>
                </form>
            </li>
        <% }) %>
    </ul>
<% } %>

<a href="http://localhost:3000/add-annonce">Ajouter une annonce</a>
<%- include('../../partials/footer') %>