<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<main>
    <h1>MON PROFIL</h1>
    <div class="infosContent">
        <div class="avatarContent"></div>
        <div>
            <span>E-mail</span>
            <span><%= user.email %></span>
        </div>
        <div>
            <span>Age</span>
            <span><%= age %></span>
        </div>
    </div>
</main>
<%- include('../../partials/footer') %>