<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<h1>Annonces</h1>
<% if (annonces.length === 0) { %>
    <p>Il n'y a pas d'annonce</p>
<% } else { %>
    <ul>
        <% annonces.forEach(annonce => { %>
            <li>
                <h2><%= annonce.title %></h2>
                <p><%= annonce.description %></p>
                <p><%= annonce.price %>€</p>
                <p><%= annonce.musicStyle %></p>
                <% annonce.images.forEach(image => { %>
                    <img src="../../../uploads/<%= image.imageUrl %>" alt="<%= image.name %>" width="200">
                <% }); %>                
            </li>
        <% }) %>
    </ul>
<% } %>
<%- include('../../partials/footer') %>