<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<main>
    <h1>TABLEAU DE BORD ADMINISTRATEUR</h1>
    <form action="/searchUser" method="post">
        <label>Rechercher un utilisateur par son nom d'utilisateur</label>
        <input type="text" name="username">
        <button type="submit">RECHERCHER</button>
    </form>
    <% if (userSearch) { %>
        <% if(userSearch && userSearch.role === "user") { %>
            <h2>Utilisateur trouvé</h2>
        <% } else if (userSearch && userSearch.role === "admin") { %>
            <h2>Administrateur trouvé</h2>
        <% } %>
            <div class="infos-user">
                <div class="username-wrapper">
                    <p>Nom d'utilisateur</p>
                    <p><%= userSearch.username %></p>
                </div>
                <div class="email-wrapper">
                    <p>Email</p>
                    <p><%= userSearch.email %></p>
                </div>
                <div class="role-wrapper">
                    <p>Rôle</p>
                    <p><%= userSearch.role %></p>
                </div>
                <div class="annonces-wrapper">
                    <p>Annonces</p>
                    <div class="annonces-list">
                        <% annoncesUser.forEach(annonce => { %>
                            <div class="annonce">
                                <a href="/show-annonce/<%= annonce._id %>" style="display: block; height: 150px;">
                                    <div class="card" style="box-shadow: none; height: 100%;">
                                        <div class="content-img">
                                            <img src="../../../uploads/<%= annonce.images[0].imageUrl %>" alt="" style="height: 100%; object-fit: cover;">
                                        </div>
                                        <div class="info-annonce" style="gap: 0.5rem;">
                                            <h2><%= annonce.title %></h2>
                                            <p><%= annonce.price %>€</p>
                                            <p><%= annonce.musicStyle %></p>
                                            <p><%= annonce.description %></p>
                                        </div>
                                    </div>
                                </a>
                                <% if (userSearch.role === user) { %>
                                    <a class="delete-btn" href=""><img src="/images/delete-icon.png" alt="" style="width: 2rem;"></a>
                                    <% } %>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                        <div class="action-wrapper">
                            <p>Action</p>
                            <% if(userSearch && userSearch.role === "user") { %>
                                <form action="/deleteUser" method="post">
                                    <input type="hidden" name="userId" value="<%= userSearch._id %>">
                                    <button type="submit">SUPPRIMER L'UTILISATEUR</button>
                                </form>
                                <% } else if (userSearch && userSearch.role === "admin") { %>
                                    <p>Vous ne pouvez pas supprimer un administrateur.</p>
                                    <% } %>
                                </div>
                            </div>
                            
    <% } else if (userSearch === null) { %>
        <h2>Aucun utilisateur trouvé</h2>
    <% } %>
</main>
<%- include('../partials/footer') %>