<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<main>
    <h1>ANNONCE</h1>
        <div class="annonce">
            <div class="swipe-btns">
                <div class="previous-arrow">
                    <span class="border-0">
                        <span class="border-1">
                            <span class="lines">
                                <span class="line-1"></span>
                                <span class="line-2"></span>
                                <span class="line-3"></span>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="next-arrow">
                    <span class="border-0">
                        <span class="border-1">
                            <span class="lines">
                                <span class="line-1"></span>
                                <span class="line-2"></span>
                                <span class="line-3"></span>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="carousel">
                <div class="paging">
                    <span class="current-page">1</span> / <span class="last-page">3</span>
                </div>
                <div class="content-imgs">
                    <% annonce.images.forEach(image => { %>
                            <div class="content-img">
                                <img src="../../../uploads/<%= image.imageUrl %>" alt="<%= image.name %>">
                            </div>
                    <% }); %> 
                </div>
            </div>
            <div class="annonce-text">
                    <div class="vinyl-infos">
                        <div class="vinyl-info">
                            <% if (data === annonce.title) { %>
                                <div class="categorie-and-content">
                                    <span>Titre</span>
                                    <form action="/edit-annonce/<%= annonce.id %>" method="post">
                                        <input type="text" name="title" required>
                                        <button type="submit"><img src="/images/send-icon.png" alt=""></button>
                                    </form>
                                </div>
                            <% } else { %>
                                <div class="categorie-and-content">
                                    <span>Titre</span>
                                    <p><%= annonce.title %></p>
                                </div>
                            <% } %>
                        </div>
                        <div class="vinyl-info">
                            <% if (data === `${annonce.price}`) { %>
                                <div class="categorie-and-content">
                                    <span>Prix</span>
                                    <form action="/edit-annonce/<%= annonce.id %>" method="post">
                                        <input type="number" name="price" required>
                                        <button type="submit"><img src="/images/send-icon.png" alt=""></button>
                                    </form>
                                </div>
                            <% } else { %>
                                <div class="categorie-and-content">
                                    <span>Prix</span>
                                    <p><%= annonce.price %>€</p>
                                </div>
                            <% } %>
                        </div>
                        <div class="vinyl-info">
                            <% if (data === annonce.musicStyle) { %>
                                <div class="categorie-and-content">
                                    <span>Style de musique</span>
                                    <form action="/edit-annonce/<%= annonce.id %>" method="post">
                                        <select id="musicStyle" name="musicStyle" required>
                                            <option value="rock">Rock</option>
                                            <option value="pop">Pop</option>
                                            <option value="rap">Rap</option>
                                            <option value="jazz">Jazz</option>
                                            <option value="classique">Classique</option>
                                            <option value="electro">Electro</option>
                                            <option value="reggae">Reggae</option>
                                            <option value="metal">Metal</option>
                                            <option value="blues">Blues</option>
                                            <option value="variété">Variété</option>
                                        </select>
                                        <button type="submit"><img src="/images/send-icon.png" alt=""></button>
                                    </form>
                                </div>
                            <% } else { %>
                                <div class="categorie-and-content">
                                    <span>Style de musique</span>
                                    <p><%= annonce.musicStyle %></p>
                                </div>
                            <% } %>
                        </div>
                        <div class="vinyl-info">
                            <% if (data === annonce.description) { %>
                                <div class="categorie-and-content">
                                    <span>Description</span>
                                    <form action="/edit-annonce/<%= annonce.id %>" method="post">
                                        <textarea name="description" id="description" required></textarea>
                                        <button type="submit"><img src="/images/send-icon.png" alt=""></button>
                                    </form>
                                </div>
                            <% } else { %>
                                <div class="categorie-and-content">
                                    <span>Description</span>
                                    <p><%= annonce.description %></p>
                                </div>
                            <% } %>
                        </div>
                    <p>Créer le <%= dateAnnonce %></p>
                    <div class="userInfo">
                        <h2><%= userAnnonce.username %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>