<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<main>
<h1>Bienvenue sur la page d'accueil</h1>
<% if (user && user.role === "admin") { %>
    <p>Connecté en tant que <strong><%= user.email %> <%= user.role %></strong></p>
    <a href="http://localhost:3000/adminDashboard">Dashboard</a>   
<% } else if (user) { %>  
    <p>Connecté en tant que <strong><%= user.email %></strong></p>
    <form action="/logout" method="POST">
        <button type="submit">Se déconnecter</button>
    </form>
<% } else { %>
    <p>Non Connecté</p>
<% } %>
<form action="/cookie-theme" method="post">
    <button type="submit">THEME</button>
</form>
</main>
<%- include('../partials/footer') %>