<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<main>
    <div class="hero">
        <h1 class="title-home">Universal Vinyl</h1>
        <% if (user && user.role === "admin") { %>
            <p>Connecté en tant que <strong><%= user.email %> (<%= user.role %>)</strong></p>
            <a href="/adminDashboard">Accéder au tableau de bord</a>
        <% } else if (user) { %>
            <p>Connecté en tant que <strong><%= user.email %></strong></p>
            <form action="/logout" method="POST">
                <button type="submit">Se déconnecter</button>
            </form>
        <% } else { %>
            <p>Vous n'êtes pas connecté.</p>
        <% } %>
    </div>
</main>
<%- include('../partials/footer') %>