<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<main>
  <% if (typeof message !== 'undefined' && message.text.length > 0) { %>
    <div class="alert alert-<%= message.type === 'error' ? 'danger' : 'success' %>" role="alert">
        <ul>
            <% message.text.forEach(function(msg) { %>
                <li><%= msg %></li>
            <% }); %>
        </ul>
    </div>
  <% } %>
  <h1 class="page-title">CONNEXION</h1>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" name="email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" name="password" class="form-control" id="password" required>
    </div>
    <button class="btn" type="submit">SE CONNECTER</button>
  </form>
</main>
<%- include('../partials/popup') %>
<%- include('../partials/footer') %>