<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<h1>Messages</h1>
<% annonces.forEach(annonce => { %>
    <a href="chat/<%= buyer %>/<%= seller %>">
        <div class="card">
            <div class="contentImg">
                <img src="<%= annonce.images[0].imgUrl %>" alt="">
            </div>
            <div class="InfoAnnonce">
                <p><%= annonce.title %></p>
            </div>
        </div>
    </a>
<% }) %>
<%- include('../partials/footer') %>