<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<main>
    <h1 class="page-title">MES ANNONCES</h1>
    <a class="btn add-annonce-btn" href="/add-annonce">AJOUTER UNE ANNONCE</a>
    <% if (annonces.length === 0) { %>
        <p>Vous n'avez pas encore d'annonce</p>
    <% } else { %>
        <ul class="annonce-cards">
            <% annonces.forEach(annonce => { %>
                <li class="annonce-card">
                    <a class="clickable-content" href="/show-annonce/<%= annonce._id %>">
                        <div class="content-imgs">
                            <div class="content-img">
                                <img src="../../../uploads/<%= annonce.images[0].imageUrl %>" alt="<%= annonce.images[0].name %>">
                            </div>
                        </div>  
                        <div class="annonce-text">             
                            <h2><%= annonce.title %></h2>
                            <p><%= annonce.price %>€</p>
                            <p><%= annonce.musicStyle %></p>
                            <p><%= annonce.description %></p>
                        </div>
                    </a>
                </li>
            <% }) %>
        </ul>
    <% } %>
</main>
<%- include('../partials/footer') %>