<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<main>
    <h1>Mon Profil</h1>
    <div class="all-infos-content">
        <div class="avatar-content">
            <% if(user.avatarUrl === "") { %>
                <div class="img-avatar-content"></div>
                <form action="/updateProfil" method="post" enctype="multipart/form-data">
                    <label class="avatar-label" for="avatarUrl">Ajouter une photo de profil</label>
                    <input type="file" id="avatarUrl" name="image" accept="image/*">
                    <button type="submit" id="submitButton" style="display: none;">Envoyer</button>
                </form>
            <% } else { %>
                <div class="img-avatar-content">
                    <img src="../../../uploads/<%= user.avatarUrl %>" alt="avatar de profil">
                </div>
                <form action="/updateProfil" method="post">
                    <input type="hidden" name="deleteAvatar" value="true">
                    <button type="submit">Supprimer</button>
                </form>
                <form action="/updateProfil" method="post" enctype="multipart/form-data">
                    <label class="avatar-label" for="avatarUrl">Modifier</label>
                    <input type="file" id="avatarUrl" name="image" accept="image/*">
                    <button type="submit" id="submitButton" style="display: none;">Envoyer</button>
                </form>
            <% } %>
        </div>
        <div class="infos-content">
            <div class="infos-username">
                <span>Nom d'utilisateur</span>
                <span><%= user.username %></span>
            </div>
            <a href="/updateProfilForm/username">Modifier</a>
        </div>
        <div class="infos-content">
            <div class="infos-role">
                <span>Rôle</span>
                <span><%= userRole %></span>
            </div>
        </div>
        <div class="infos-content">
            <div class="infos-last">
                <span>Nom de famille</span>
                <span><%= user.last %></span>
            </div>
            <a href="/updateProfilForm/last">Modifier</a>
        </div>
        <div class="infos-content">
            <div class="infos-first">
                <span>Prénom</span>
                <span><%= user.first %></span>
            </div>
            <a href="/updateProfilForm/first">Modifier</a>
        </div>
        <div class="infos-content">
            <div class="infos-age">
                <span>Âge</span>
                <span><%= age %></span>
            </div>
        </div>
        <div class="infos-content">
            <div class="infos-address">
                <span>Adresse</span>
                <span>
                    <%= user.address.number %> <%= user.address.street %>, <%= user.address.zip %> <%= user.address.city %>, <%= user.address.country %>
                </span>
            </div>
            <a href="/updateProfilForm/address">Modifier</a>
        </div>
        <div class="infos-content">
            <div class="infos-bio">
                <span>Bio</span>
                <span><%= user.bio %></span>
            </div>
            <a href="/updateProfilForm/bio">Modifier</a>
        </div>
        <div class="infos-content">
            <div class="infos-email">
                <span>E-mail</span>
                <span><%= user.email %></span>
            </div>
        </div>
        <div class="infos-content">
            <div class="infos-password">
                <span>Mot de passe</span>
                <span>*********</span>
            </div>
        </div>
    </div>
</main>
<script>
    document.getElementById("avatarUrl").addEventListener("change", function () {
        const submitButton = document.getElementById("submitButton");
        submitButton.style.display = this.files.length > 0 ? "block" : "none";
    });
</script>
<%- include('../partials/footer') %>