<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<main>
    <h1>MON PROFIL</h1>
    <div class="allInfosContent">
        <div class="avatarContent">
            <% if(user.avatarUrl === "") { %>
                <div class="imgAvatarContent"></div>
                <label class="avatarLabel" for="avatarUrl">Ajouter une photo de profil</label>
                <input type="file" id="avatarUrl" name="avatarUrl" accept="image/*">
            <% } else { %>
                <div class="imgAvatarContent">
                    <img src="../../../uploads/<%= user.avatarUrl %>" alt="avatar de profil">
                </div>
                <label class="avatarLabel" for="avatarUrl">Modifier</label>
                <input type="file" id="avatarUrl" name="avatarUrl" accept="image/*">
            <% } %>
        </div>
        <div class="infosContent">
            <div class="infos username">
                <span>Nom d'utilisateur</span>
                <span><%= user.username %></span>
            </div>
            <input type="button" class="btnUpdateProfil" value="Modifier">
            <a href="/updateProfilForm/username">Modifier</a>
        </div>
        <div class="infosContent">
            <div class="infos role">
                <span>Rôle</span>
                <span><%= userRole %></span>
            </div>
        </div>
        <div class="infosContent">
            <div class="infos last">
                <span>Nom de famille</span>
                <span><%= user.last %></span>
            </div>
            <a href="/updateProfilForm/last">Modifier</a>
        </div>
        <div class="infosContent">
            <div class="infos first">
                <span>Prénom</span>
                <span><%= user.first %></span>
            </div>
            <a href="/updateProfilForm/first">Modifier</a>
        </div>
        <div class="infosContent">
            <div class="infos age">
                <span>Age</span>
                <span><%= age %></span>
            </div>
        </div>
        <div class="infosContent">
            <div class="infos address">
                <span>Adresse</span>
                <span>
                    <%= user.address.number %>
                    <%= user.address.street %>
                    <%= user.address.zip %>
                    <%= user.address.city %>
                    <%= user.address.country %>
                </span>
            </div>
            <a href="/updateProfilForm/address">Modifier</a>
        </div>
        <div class="infosContent">
            <div class="infos bio">
                <span>Bio</span>
                <span><%= user.bio %></span>
            </div>
            <a href="/updateProfilForm/bio">Modifier</a>
        </div>
        <div class="infosContent">
            <div class="infos email">
                <span>E-mail</span>
                <span><%= user.email %></span>
            </div>
        </div>
        <div class="infosContent">
            <div class="infos password">
                <span>Mot de passe</span>
                <span>*********</span>
            </div>
        </div>
    </div>
</main>
<script>
    let btnUpdateProfil = document.querySelectorAll('.btnUpdateProfil')

    btnUpdateProfil.forEach(element => {
        element.addEventListener('click', (e) => {
            element.parentElement.appendChild()
        })
    })
    
</script>
<%- include('../partials/footer') %>