<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<h2><%= annonceUsername %></h2>
<form action="/sendMessage/<%= annonceUsername %>/<%= annonceId %>" method="post">
    <textarea name="message" id="" placeholder="Ecrivez un message à l'utilisateur" maxlength="300"></textarea>
    <button type="submit">Envoyer</button>
</form>
<%- include('../partials/footer') %>