<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<main>
    <h1>ANNONCE</h1>
    <% if (!annonce) { %>
        <p>Il n'y a pas d'annonce</p>
    <% } else { %>
        <div class="annonce">
            <div class="carousel">
                <div class="content-imgs">
                    <% annonce.images.forEach(image => { %>
                            <div class="content-img">
                                <img src="../../../uploads/<%= image.imageUrl %>" alt="<%= image.name %>">
                            </div>
                    <% }); %> 
                </div>
                <div class="paging">
                    <span class="current-page">1</span> / <span class="last-page">3</span>
                </div>
            </div>
            <div class="annonce-text">
                <div class="vinyl-infos">
                    <h2>Titre <%= annonce.title %></h2>
                    <p>Prix <%= annonce.price %>€</p>
                    <p>Genre <%= annonce.musicStyle %></p>
                    <p>Description <%= annonce.description %></p>
                    <p>Créer le <%= dateAnnonce %></p>
                </div>
                <div class="userInfo">
                    <h2><%= userAnnonce.username %></h2>
                    <% if(userAnnonce.username !== user.username) { %>
                        <form action="/startConversation" method="post">
                            <input type="hidden" name="receiver" value="<%= userAnnonce.username %>">
                            <input type="hidden" name="sender" value="<%= user.username %>">
                            <input type="hidden" name="annonceId" value="<%= annonce._id %>">
                            <button>Envoyer un message</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="prev">
                <span class="border-0">
                    <span class="border-1">
                        <span class="lines">
                            <span class="line-1"></span>
                            <span class="line-2"></span>
                            <span class="line-3"></span>
                        </span>
                    </span>
                </span>
            </div>
            <div class="next-arrow">
                <span class="border-0">
                    <span class="border-1">
                        <span class="lines">
                            <span class="line-1"></span>
                            <span class="line-2"></span>
                            <span class="line-3"></span>
                        </span>
                    </span>
                </span>
            </div>
            <% if (myAnnonce) { %>
                <div class="edit-and-delete-btns">
                    <a class="edit-btn" href="/edit-annonce/<%= annonce._id %>">MODIFIER</a>
                    <form action="/delete-annonce/<%= annonce._id %>" method="post">
                        <button class="delete-btn">SUPPRIMER</button>
                    </form>
                </div>
            <% } %>
        </div>
    <% } %>
</main>
<script src="/js/annonceCarousel.js"></script>
<%- include('../partials/footer') %>