<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<main>
<h1>Annonce</h1>
<% if (!annonce) { %>
    <p>Il n'y a pas d'annonce</p>
<% } else { %>
    <div class="annonce">
        <div class="carousel">
            <div class="contentImgs">
                <% annonce.images.forEach(image => { %>
                        <div class="contentImg">
                            <img src="../../../uploads/<%= image.imageUrl %>" alt="<%= image.name %>">
                        </div>
                <% }); %> 
            </div>
            <div class="paging">
                <span class="currentPage">1</span> / <span class="lastPage">3</span>
            </div>
        </div>
        <div class="annonceText">
            <div class="ObjectInfos">
                <h2>Titre <%= annonce.title %></h2>
                <p>Prix <%= annonce.price %>€</p>
                <p>Genre <%= annonce.musicStyle %></p>
                <p>Description <%= annonce.description %></p>
                <p>Créer le <%= dateAnnonce %></p>
            </div>
            <div class="userInfo">
                <h2><%= userAnnonce.username %></h2>
                <% if(userConnected === false) { %>
                    <a href="/sendMessageForm/<%= annonce._id %>">Envoyer un message</a>
                <% } else if (userConnected === true) { %>
                    <% if(user.username !== userAnnonce.username) { %>
                        <a href="/sendMessageForm/<%= annonce._id %>">Envoyer un message</a>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div class="prev">
            <span class="border0">
                <span class="border1">
                    <span class="line">
                        <span class="line1"></span>
                        <span class="line2"></span>
                        <span class="line3"></span>
                    </span>
                </span>
            </span>
        </div>
        <div class="next">
            <span class="border0">
                <span class="border1">
                    <span class="line">
                        <span class="line1"></span>
                        <span class="line2"></span>
                        <span class="line3"></span>
                    </span>
                </span>
            </span>
        </div>
        <% if (myAnnonce) { %>
            <div class="editAndDeleteButton">
                <a class="editButton" href="/edit-annonce/<%= annonce._id %>">Modifier</a>
                <form action="/delete-annonce/<%= annonce._id %>" method="post">
                    <button class="deleteButton">Supprimer</button>
                </form>
            </div>
        <% } %>
    </div>
    <% } %>
</main>
<script src="/js/annonceCarousel.js"></script>
<%- include('../partials/footer') %>