<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<form action="/sendStartConv/<%= annonceId %>/<%= userId %>" method="post">
    <textarea name="message" id="" placeholder="Ecrivez un message à l'utilisateur" maxlength="300"></textarea>
    <button type="submit">Envoyer</button>
</form>
<%- include('../partials/footer') %>